@import "tailwindcss";

@theme {
  /* Palet Warna Luxury Navy */
  --color-volcanic-900: #0a0f1e; /* Diubah menjadi Navy */
  --color-volcanic-100: #F4F1EB;
  --color-volcanic-accent: #A67C52;
  
  /* Hubungkan variabel font ke Tailwind */
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-cormorant), ui-serif, Georgia, serif;
}

body {
  background-color: #0a0f1e; /* Diubah menjadi Navy */
  color: var(--color-volcanic-100);
  font-weight: 300; 
}